:root {
    --verdeClaro: #B2DFA5;
    --verdePrincipal: #7BD860;
    --verdeEscuro: #5DA649;
}

html, body {
    height: auto;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--verdePrincipal);
    background: linear-gradient(0deg, var(--verdePrincipal) 20%, var(--verdeClaro) 50%, var(--verdePrincipal) 80%);

    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

.containerInterface {
    margin-top: 56px;
    min-height: calc(100vh - 56px);
}

.containerInterface:last-of-type {
    min-height: calc(100vh - 56px - 24px);
}